<div>
  <h1>{{ title }}</h1>
  <div class="divEjemplo">
    <span class="verde">personas:</span>
    <div class="divPerson">{{ personas | json }}</div>
    <div class="divPerson">Codigo: <b>{{ persona.codigo }}</b></div>
    <div class="divPerson">Nombre: <b>{{ persona.nombre}}</b></div>
    <div class="divPerson">Aficiones: <b>{{ persona.aficiones }}</b></div>
  </div>

  <div class="divEjemplo">
    <span class="verde">personas:</span>
    <div class="divPerson">{{ personas | json }}</div>
    <span class="verde">personas 1:</span>
    <div class="divPerson">{{ personas[0] | json }}</div>
    <span class="verde">personas 2:</span>
    <div class="divPerson">{{ personas[1] | json }}</div>
    <span class="verde">personas 3:</span>
    <div class="divPerson">{{ personas[2] | json }}</div>
  </div>
<br><h1>Lista de personas.</h1><br>
  <div class="divPersonas container" *ngFor="let persona of personas; let i = index">
    <span class="verde">persona {{ i + 1}};</span>
    <div class="divPerson container">
      CODIGO:
      <b>{{ persona.codigo}}</b>
      <br> NOMBRE: 
      <b>{{ persona.nombre}}</b>
    </div>
  </div>
</div>
