.verde { color: green;
    padding: 2px;
    margin: 2px;
    font-weight: bold;
    font-size: 20px;
}
.divEjemplo { padding: 2px;
        margin: 2px;
        border: 2px solid blue;
        background-color: #cef6f5;
}
.divPersonas{ padding: 2px;
        margin: 2px;
        border: 2px solid blue;
        background-color: #a9e2f3; 
}
.divPerson { padding: 2px;
        margin: 2px;
        border: 2px solid green;
        background-color: #818ef7;
}
